

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

h1{
    text-align: center;
    margin: 50px 0 50px 0;
}

.add{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-student{
    width: 50%;
    padding: 50px 100px 50px 100px;
}

.form-classroom{
    width: 50%;
}